<!DOCTYPE html>
<html>
  <head>
    <title>Whale Tank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <figure>
        <img src="https://picsum.photos/50" alt="Whale Tank Logo">
        <figcaption>Whale Tank</figcaption>
      </figure>
      <nav>
        <span><%= link_to "Home", root_path %></span>
        <span><%= link_to "Companies", companies_path %></span>
        <span><%= link_to "Users", users_path %></span>
        <span>
          <% if member_signed_in? %>
            <%= current_member.email %>
             |
            <%= link_to "Logout", destroy_member_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_member_session_path %>
             |
            <%= link_to "Sign Up", new_member_registration_path %>
          <% end %>
        </span>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:errors] %>
      <section class="errors">
        <p class="name">The following errors occurred:</p>
        <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>  
        </ul>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
